In [1]:
import pandas as pd 

pd.set_option("display.max_colwidth",100)

In [2]:
df=pd.read_csv("sample_text.csv")
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [8]:
from huggingface_hub import login
login()

VBox(children=(HTML(value='<center> <img\nsrc=https://huggingface.co/front/assets/huggingface_logo-noborder.svâ€¦

In [20]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('sentence-transformers/all-mpnet-base-v2')
vectors=model.encode(df.text)
vectors.shape

(8, 768)

In [21]:
dim=vectors.shape[1]
dim

768

In [22]:
import faiss 
index=faiss.IndexFlatL2(dim)
index

In [23]:
index.add(vectors)

In [24]:
search_query="an apple a day keeps the doctor away"

vec=model.encode(search_query)
vec.shape

(768,)

In [25]:
import numpy as np
svec=np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

In [28]:
distances,I=index.search(svec,k=2)

In [29]:
I[0]

array([1, 0], dtype=int64)

In [30]:
df.loc[I[0]]

                                                               text category
1  Fruits, whole grains and vegetables helps control blood pressure   Health
0                     Meditation and yoga can improve mental health   Health